version: '3.3'

services:
    browserkube:
        image: "${MAIN_IMAGE:-webrecorder/browserkube-main}:${MAIN_TAG:-latest}"
        build:
          context: ./main/
          args:
            BASE_IMAGE: "${MAIN_IMAGE_BASE:-python:3.8}"

    pywb:
        image: "${PYWB_IMAGE:-webrecorder/browserkube-pywb}:${PYWB_TAG:-latest}"
        build:
          context: ./pywb/
          args:
            BASE_IMAGE: "${PYWB_IMAGE_BASE:-webrecorder/pywb:latest}"

    xvfb:
        image: "${XVFB_IMAGE:-webrecorder/browserkube-xvfb}:${XVFB_TAG:-latest}"
        build:
          context: ./xvfb/
          args:
            BASE_IMAGE: "${XVFB_IMAGE_BASE:-python:3.8-alpine}"
